.btn-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.btn-bar .btn {
    margin: 0 0.2rem;
}

.btn {
    display: inline-block;

    padding: 0.375rem 0.75rem;

    color: #333;
    background-color: transparent;

    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 0.25rem;

    text-align: center;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;

    box-shadow: none;
    transition: box-shadow 0.1s linear;

    user-select: none;
}

.btn:hover,
.btn:focus,
.btn:active {
    border-color: #0099ff;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    box-shadow: 0 0 4px #0099ff;
}

.btn:disabled {
    border-color: #ccc;
    cursor: default;
    box-shadow: none;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    color: white;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:focus {
    box-shadow: 0 0 3px #00dd00;
}

.btn-success svg path {
    stroke: white;
}

.btn-failure,
.btn-failure:hover,
.btn-failure:focus,
.btn-failure:active {
    color: white;
    background-color: #c82333;
    border-color: #c82333;
}
